<?xml version="1.0" encoding="UTF-8"?>
<group name="windows,system,">
  <rule id="101051" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Application Popup</field>
    <field name="win.system.eventID">26</field>
    <field name="win.eventdata.caption">sysmon64\.exe - Application Error|sysmon\.exe - Application Error</field>
    <description>Sigma: Sysmon Application Crashed</description>
    <mitre>
      <id>T1685</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="107030" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">LsaSrv</field>
    <field name="win.system.eventID">6038|6039</field>
    <description>Sigma: NTLMv1 Logon Between Client and Server</description>
    <mitre>
      <id>T1550.002</id>
    </mitre>
    <group>lateral_movement,sigma_converted,</group>
  </rule>
  <rule id="111003" level="13">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">4100</field>
    <field name="win.eventdata.provider_Name">Microsoft-Windows-Iphlpsvc</field>
    <description>Sigma: ISATAP Router Address Was Set</description>
    <mitre>
      <id>T1557</id>
      <id>T1565.002</id>
    </mitre>
    <group>impact,sigma_converted,</group>
  </rule>
  <rule id="103025" level="11">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">1033</field>
    <field name="win.eventdata.provider_Name">Microsoft-Windows-DHCP-Server</field>
    <description>Sigma: DHCP Server Loaded the CallOut DLL</description>
    <mitre>
      <id>T1574.001</id>
    </mitre>
    <group>privilege_escalation,sigma_converted,</group>
  </rule>
  <rule id="103026" level="11">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">1031|1032|1034</field>
    <field name="win.eventdata.provider_Name">Microsoft-Windows-DHCP-Server</field>
    <description>Sigma: DHCP Server Error Failed Loading the CallOut DLL</description>
    <mitre>
      <id>T1574.001</id>
    </mitre>
    <group>privilege_escalation,sigma_converted,</group>
  </rule>
  <rule id="108005" level="8">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Microsoft-Windows-DistributedCOM</field>
    <field name="win.system.eventID">10001</field>
    <field name="win.eventdata.param1">C:\Program Files\Common Files\microsoft shared\ink\TabTip\.exe</field>
    <field name="win.eventdata.param2">2147943140</field>
    <field name="win.eventdata.param3">\{054AAE20-4BEA-4347-8A35-64A533254A9D\}</field>
    <description>Sigma: Local Privilege Escalation Indicator TabTip</description>
    <mitre>
      <id>T1557.001</id>
    </mitre>
    <group>collection,sigma_converted,</group>
  </rule>
  <rule id="101052" level="8">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">104</field>
    <field name="win.eventdata.provider_Name">Microsoft-Windows-Eventlog</field>
    <description>Sigma: Eventlog Cleared</description>
    <mitre>
      <id>T1685.005</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101053" level="9">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">104</field>
    <field name="win.eventdata.provider_Name">Microsoft-Windows-Eventlog</field>
    <field name="win.eventdata.channel">Microsoft-Windows-PowerShell/Operational|Microsoft-Windows-Sysmon/Operational|PowerShellCore/Operational|Security|System|Windows PowerShell</field>
    <description>Sigma: Important Windows Eventlog Cleared</description>
    <mitre>
      <id>T1685.005</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="103027" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Kerberos-Key-Distribution-Center|Microsoft-Windows-Kerberos-Key-Distribution-Center</field>
    <field name="win.system.eventID">39|41</field>
    <description>Sigma: Certificate Use With No Strong Mapping</description>
    <group>privilege_escalation,sigma_converted,</group>
  </rule>
  <rule id="105047" level="12">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">16</field>
    <field name="win.eventdata.provider_Name">Microsoft-Windows-Kernel-General</field>
    <field name="win.eventdata.hiveName">\Temp\SAM|\Temp\SECURITY</field>
    <description>Sigma: Critical Hive In Suspicious Location Access Bits Cleared</description>
    <mitre>
      <id>T1003.002</id>
    </mitre>
    <group>credential_access,sigma_converted,</group>
  </rule>
  <rule id="105048" level="11">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Microsoft-Windows-WER-SystemErrorReporting</field>
    <field name="win.system.eventID">1001</field>
    <description>Sigma: Crash Dump Created By Operating System</description>
    <mitre>
      <id>T1003.002</id>
      <id>T1005</id>
    </mitre>
    <group>credential_access,sigma_converted,</group>
  </rule>
  <rule id="107031" level="11">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">5805|5723</field>
    <description>Sigma: Zerologon Exploitation Using Well-known Tools</description>
    <mitre>
      <id>T1210</id>
    </mitre>
    <group>lateral_movement,sigma_converted,</group>
  </rule>
  <rule id="103028" level="11">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">NetLogon</field>
    <field name="win.system.eventID">5829</field>
    <description>Sigma: Vulnerable Netlogon Secure Channel Connection Allowed</description>
    <mitre>
      <id>T1548</id>
    </mitre>
    <group>privilege_escalation,sigma_converted,</group>
  </rule>
  <rule id="111004" level="14">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Ntfs</field>
    <field name="win.system.eventID">55</field>
    <field name="win.eventdata.origin">File System Driver</field>
    <field name="win.eventdata.description">contains a corrupted file record|The name of the file is "\"</field>
    <description>Sigma: NTFS Vulnerability Exploitation</description>
    <mitre>
      <id>T1499.001</id>
    </mitre>
    <group>impact,sigma_converted,</group>
  </rule>
  <rule id="102535" level="13">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <description>Sigma: CobaltStrike Service Installations - System</description>
    <mitre>
      <id>T1021.002</id>
      <id>T1543.003</id>
      <id>T1569.002</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="101054" level="8">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">7036</field>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.eventdata.param1">Windows Defender Antivirus Service|Service antivirus Microsoft Defender</field>
    <field name="win.eventdata.param2">stopped|arrêté</field>
    <description>Sigma: Windows Defender Threat Detection Service Disabled</description>
    <mitre>
      <id>T1685</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="107032" level="11">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">\.bat &amp; del |__output 2\^&gt;\^&amp;1 &gt;</field>
    <description>Sigma: smbexec.py Service Installation</description>
    <mitre>
      <id>T1021.002</id>
      <id>T1569.002</id>
    </mitre>
    <group>lateral_movement,sigma_converted,</group>
  </rule>
  <rule id="101055" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">cmd|&amp;&amp;|clipboard\]::</field>
    <description>Sigma: Invoke-Obfuscation CLIP+ Launcher - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101056" level="9">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">\$PSHome\[\s*\d{1,3}\s*\]\s*\+\s*\$PSHome\[</field>
    <description>Sigma: Invoke-Obfuscation Obfuscated IEX Invocation - System</description>
    <mitre>
      <id>T1027</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101057" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">noexit|powershell</field>
    <description>Sigma: Invoke-Obfuscation STDIN+ Launcher - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101058" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">/c|/r|"set|-f</field>
    <description>Sigma: Invoke-Obfuscation VAR+ Launcher - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101059" level="8">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">:system\.io\.compression\.deflatestream|system\.io\.streamreader|text\.encoding\]::ascii|readtoend</field>
    <description>Sigma: Invoke-Obfuscation COMPRESS OBFUSCATION - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101060" level="8">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">rundll32\.exe|shell32\.dll|shellexec_rundll|powershell</field>
    <description>Sigma: Invoke-Obfuscation RUNDLL LAUNCHER - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101061" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">environment|invoke|input|&amp;&amp;</field>
    <description>Sigma: Invoke-Obfuscation Via Stdin - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101062" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">\(Clipboard\|i</field>
    <description>Sigma: Invoke-Obfuscation Via Use Clip - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101063" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">mshta|vbscript:createobject</field>
    <description>Sigma: Invoke-Obfuscation Via Use MSHTA - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101064" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">value|invoke|comspec|iex|rundll32|shell32\.dll|shellexec_rundll</field>
    <description>Sigma: Invoke-Obfuscation Via Use Rundll32 - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101065" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">\{0\}|\{1\}|\{2\}|\{3\}|\{4\}|\{5\}|cmd|/c|-f</field>
    <description>Sigma: Invoke-Obfuscation VAR++ LAUNCHER OBFUSCATION - System</description>
    <mitre>
      <id>T1027</id>
      <id>T1059.001</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="102536" level="10">
    <if_sid>60106</if_sid>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">KrbSCM</field>
    <description>Sigma: KrbRelayUp Service Installation</description>
    <mitre>
      <id>T1543</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="105049" level="12">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">cachedump|dumpsvc|fgexec|gsecdump|mimidrv|pwdump|servpw</field>
    <description>Sigma: Credential Dumping Tools Service Execution - System</description>
    <mitre>
      <id>T1003.001</id>
      <id>T1003.002</id>
      <id>T1003.004</id>
    </mitre>
    <group>credential_access,sigma_converted,</group>
  </rule>
  <rule id="103029" level="14">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">cmd|%COMSPEC%|echo|\pipe\</field>
    <description>Sigma: Meterpreter or Cobalt Strike Getsystem Service Installation - System</description>
    <mitre>
      <id>T1134.001</id>
      <id>T1134.002</id>
    </mitre>
    <group>privilege_escalation,sigma_converted,</group>
  </rule>
  <rule id="102537" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">ZzNetSvc</field>
    <description>Sigma: Moriya Rootkit - System</description>
    <mitre>
      <id>T1543.003</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="101066" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">powershell|pwsh</field>
    <description>Sigma: PowerShell Scripts Installed as Services</description>
    <mitre>
      <id>T1569.002</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="102538" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">AnyDesk|Service</field>
    <description>Sigma: Anydesk Remote Access Software Service Installation</description>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="101067" level="8">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">csexecsvc</field>
    <description>Sigma: CSExec Service Installation</description>
    <mitre>
      <id>T1569.002</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101068" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045|7036</field>
    <field name="win.eventdata.imagePath">bypass</field>
    <description>Sigma: HackTool Service Registration or Execution</description>
    <mitre>
      <id>T1569.002</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="109008" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">MeshAgent\.exe</field>
    <description>Sigma: Mesh Agent Service Installation</description>
    <mitre>
      <id>T1219.002</id>
    </mitre>
    <group>command_and_control,sigma_converted,</group>
  </rule>
  <rule id="102539" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">\NetSupport Manager\client32\.exe</field>
    <description>Sigma: NetSupport Manager Service Install</description>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="101069" level="8">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">^PAExec-</field>
    <description>Sigma: PAExec Service Installation</description>
    <mitre>
      <id>T1569.002</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="102540" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">PDQDeployService\.exe</field>
    <description>Sigma: New PDQDeploy Service - Server Side</description>
    <mitre>
      <id>T1543.003</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="102541" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">PDQDeployRunner-</field>
    <description>Sigma: New PDQDeploy Service - Client Side</description>
    <mitre>
      <id>T1543.003</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="102542" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">^ProcessHacker</field>
    <field name="win.eventdata.accountName">LocalSystem</field>
    <description>Sigma: ProcessHacker Privilege Elevation</description>
    <mitre>
      <id>T1543.003</id>
      <id>T1569.002</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="101070" level="8">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">RemComSvc</field>
    <description>Sigma: RemCom Service Installation</description>
    <mitre>
      <id>T1569.002</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="103030" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045|7036</field>
    <field name="win.eventdata.serviceName">AmmyyAdmin|Atera|BASupportExpressSrvcUpdater|BASupportExpressStandaloneService|chromoting|GoToAssist|GoToMyPC|jumpcloud|LMIGuardianSvc|LogMeIn|monblanking|Parsec|RManService|RPCPerformanceService|RPCService|SplashtopRemoteService|SSUService|TeamViewer|TightVNC|vncserver|Zoho</field>
    <description>Sigma: Remote Access Tool Services Have Been Installed - System</description>
    <mitre>
      <id>T1543.003</id>
      <id>T1569.002</id>
    </mitre>
    <group>privilege_escalation,sigma_converted,</group>
  </rule>
  <rule id="102543" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">\rutserv\.exe|-service</field>
    <description>Sigma: Remote Utilities Host Service Install</description>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="102544" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">^[a-zA-Z]:\\windows\\temp\\[a-zA-Z0-9]{10}\.exe</field>
    <description>Sigma: Sliver C2 Default Service Installation</description>
    <mitre>
      <id>T1543.003</id>
      <id>T1569.002</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="102545" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.processId">0</field>
    <description>Sigma: Service Installed By Unusual Client - System</description>
    <mitre>
      <id>T1543</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="102546" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath"> -nop | -sta | -w hidden |:\Temp\|\.downloadfile\(|\.downloadstring\(|\ADMIN\$\|\Perflogs\|&amp;&amp;</field>
    <description>Sigma: Suspicious Service Installation</description>
    <mitre>
      <id>T1543.003</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="101071" level="8">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">PSEXESVC</field>
    <description>Sigma: PsExec Service Installation</description>
    <mitre>
      <id>T1569.002</id>
    </mitre>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="109009" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">tacticalrmm\.exe</field>
    <description>Sigma: TacticalRMM Service Installation</description>
    <mitre>
      <id>T1219.002</id>
    </mitre>
    <group>command_and_control,sigma_converted,</group>
  </rule>
  <rule id="110000" level="12">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">tap0901</field>
    <description>Sigma: Tap Driver Installation</description>
    <mitre>
      <id>T1048</id>
    </mitre>
    <group>exfiltration,sigma_converted,</group>
  </rule>
  <rule id="102547" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <description>Sigma: Uncommon Service Installation Image Path</description>
    <mitre>
      <id>T1543.003</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="101072" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7023</field>
    <field name="win.eventdata.param1"> Antivirus| Firewall|Application Guard|BitLocker Drive Encryption Service|Encrypting File System|Microsoft Defender|Threat Protection|Windows Event Log</field>
    <description>Sigma: Important Windows Service Terminated With Error</description>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="101073" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7034</field>
    <field name="win.eventdata.param1">Message Queuing</field>
    <description>Sigma: Important Windows Service Terminated Unexpectedly</description>
    <group>execution,sigma_converted,</group>
  </rule>
  <rule id="102548" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.serviceName">RTCore64</field>
    <description>Sigma: RTCore Suspicious Service Installation</description>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="102549" level="9">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">\AppData\|\\\\127\.0\.0\.1|\\\\localhost</field>
    <description>Sigma: Service Installation in Suspicious Folder</description>
    <mitre>
      <id>T1543.003</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="102550" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <field name="win.eventdata.imagePath">^[Cc]:\\[Pp]rogram[Dd]ata\\.{1,9}\.exe</field>
    <description>Sigma: Service Installation with Suspicious Folder Pattern</description>
    <mitre>
      <id>T1543.003</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
  <rule id="102551" level="10">
    <if_sid>60106</if_sid>
    <field name="win.eventdata.imagePath"> -c | -r | -k </field>
    <field name="win.eventdata.provider_Name">Service Control Manager</field>
    <field name="win.system.eventID">7045</field>
    <description>Sigma: Suspicious Service Installation Script</description>
    <mitre>
      <id>T1543.003</id>
    </mitre>
    <group>persistence,sigma_converted,</group>
  </rule>
</group>
