<?xml version="1.0" encoding="UTF-8"?>
<group name="windows,persistence,">
  <rule id="102026" level="9">
    <if_sid>61615</if_sid>
    <field name="win.eventdata.targetObject">currentversion\run</field>
    <description>Registry modification in persistence key: currentversion\run</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102027" level="9">
    <if_sid>61614</if_sid>
    <field name="win.eventdata.targetObject">currentversion\run</field>
    <description>Registry modification in persistence key: currentversion\run</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102028" level="9">
    <if_sid>61615</if_sid>
    <field name="win.eventdata.targetObject">currentversion\runonce</field>
    <description>Registry modification in persistence key: currentversion\runonce</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102029" level="9">
    <if_sid>61614</if_sid>
    <field name="win.eventdata.targetObject">currentversion\runonce</field>
    <description>Registry modification in persistence key: currentversion\runonce</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102030" level="9">
    <if_sid>61615</if_sid>
    <field name="win.eventdata.targetObject">userinit</field>
    <description>Registry modification in persistence key: userinit</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102031" level="9">
    <if_sid>61615</if_sid>
    <field name="win.eventdata.targetObject">shell</field>
    <description>Registry modification in persistence key: shell</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102032" level="9">
    <if_sid>61614</if_sid>
    <field name="win.eventdata.targetObject">shell</field>
    <description>Registry modification in persistence key: shell</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102033" level="10">
    <if_sid>61603</if_sid>
    <field name="win.eventdata.image">psexesvc</field>
    <description>Suspicious process 'psexesvc' execution detected</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102034" level="10">
    <if_sid>61603</if_sid>
    <field name="win.eventdata.image">rundll32</field>
    <description>Suspicious process 'rundll32' execution detected</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102035" level="9">
    <if_sid>61615</if_sid>
    <field name="win.eventdata.targetObject">winlogon\</field>
    <description>Registry modification in persistence key: winlogon\</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102036" level="10">
    <if_sid>61603</if_sid>
    <field name="win.eventdata.image">regsvr32</field>
    <description>Suspicious process 'regsvr32' execution detected</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102037" level="10">
    <if_sid>61605</if_sid>
    <field name="win.eventdata.image">regsvr32</field>
    <field name="win.eventdata.destinationPort">443</field>
    <description>Suspicious network connection from 'regsvr32'</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
  <rule id="102038" level="10">
    <if_sid>61603</if_sid>
    <field name="win.eventdata.image">wmic</field>
    <description>Suspicious process 'wmic' execution detected</description>
    <mitre>
      <id>T1547</id>
    </mitre>
    <group>persistence,evtx_generated,</group>
  </rule>
</group>
